<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <compilation strict="false" explicit="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="1048576" />
    <sessionState timeout="20000"></sessionState>
  </system.web>
</configuration>
<!--ProjectGuid: 4e10fc72-5ca3-47bd-aac5-ff3e97cbba6c-->